.container {
    width: 480px;
    
}
.header {
    text-align: center;
    border: solid white;
    background-color: bisque;
}

.canvas {
    
    height: 500px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px 10px;
    background-color: antiquewhite;

}

.canvas img{
    width: 100px;
}
.resultado{
    grid-area: 5/1/5/3;
}
.boton {
    grid-column-start:4;
    
}

.element {
    background-color: white;
}